@namespace s "library://ns.adobe.com/flex/spark";

s|HScrollBar
{
    skinClass: ClassReference("com.endlesspaths.skins.HScrollBarSkin");
}

s|HSlider
{
    skinClass: ClassReference("com.endlesspaths.skins.HSliderSkin");
}

s|VSlider
{
    skinClass: ClassReference("com.endlesspaths.skins.VSliderSkin");
}

s|VScrollBar
{
    skinClass: ClassReference("com.endlesspaths.skins.VScrollBarSkin");
}

s|List
{
	contentBackgroundColor: #dee4ea;
    skinClass: ClassReference("com.endlesspaths.skins.ListSkin");
}

CalloutPanel {
	skinClass: ClassReference("com.endlesspaths.skins.CalloutPanelBlackHUDSkin");
}

GradientSelectorThumb {
	skinClass: ClassReference("com.endlesspaths.skins.GradientSelectorThumbSkin");
}